body {
  font-family: 'Merienda', cursive;
  background-color: #A9A9A9;
  min-width: 100%;
  min-height: 100%;
}
label {
  width: 15%;
}
#datepicker {
  z-index: 1;
}
.brand-image {
  max-height: 65px;
  max-width: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  text-align: center;
}
#weight-table {
  table-layout: fixed;
}
.container-weight {
  background-color: #33ECFF;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
ul {
  padding-left: 0;
}
li {
  position: relative;
  list-style-type: none;
  border-style: double;
  border-color: black;
  text-align: center;
  background-color: #CC99CC;
  color: black;
}

.main-input {
  background-color: #33ECFF;
  padding-left: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  float: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalSignin,
.modalRegister {
  z-index: 1;
/*  display: none;
*/  overflow: auto;
  position: absolute;
  margin: auto;
  top: 20%;
  right: 20%;
  left: 20%;
  text-align: center;
  background: -webkit-linear-gradient(left, #CC99CC, #944397, #CC99CC);
  background: -o-linear-gradient(right, #CC99CC, #944397, #CC99CC);
  background: -moz-linear-gradient(right, #CC99CC, #944397, #CC99CC);
  background: linear-gradient(to right, #CC99CC, #944397, #CC99CC);
  padding: 30px;
  border: double;
  font-size: 16px;
}
.modalRegister {
  display: none;
}
/* Modal Content/Box */
.numberModal-content,
.modal-content {
  background-color: #e066ff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 16px;
  margin: auto;
  text-align: center;
}

/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.weightTable {
  min-height: 450px;
}
#form {
  text-align: center;
}

.container-weight,
 .main-input,
 .navbar,
 .panel-heading,
 .side-panel {
  background: -webkit-linear-gradient(left, #944397, #CC99CC, #944397);
  background: -o-linear-gradient(right, #944397, #CC99CC, #944397);
  background: -moz-linear-gradient(right, #944397, #CC99CC, #944397);
  background: linear-gradient(to right, #944397, #CC99CC, #944397);
}
#submit-Info {
  background-color: #944397;
  margin-top: 15px;
}
#submit-User, #registerUser {
  background-color: #CC99CC;
  vertical-align: middle;
  margin-top: 15px;
}
.logOut, .navbar-right {
  font-weight: bolder;
  color: black;
  display: none;
}
.navbar-right {
  margin-right: 1%;
  margin-top: .65%;
}
#submitRegistration {
  margin: 10px;
  background-color: #CC99CC;
}
.sideContent {
  background-color: #944397;
  min-height: 65%;
  max-width: 15%;
  margin-top: 10px;
  margin-left: 10px;
}

.listContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
  padding-bottom: 12%;
}
 .changeTab {
  background: -webkit-linear-gradient(left, #944397, #CC99CC, #944397);
  background: -o-linear-gradient(right, #944397, #CC99CC, #944397);
  background: -moz-linear-gradient(right, #944397, #CC99CC, #944397);
  background: linear-gradient(to right, #944397, #CC99CC, #944397);
 }
 .sideLi {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .navbar-header,
 .brand-image {
  float: left;
 }
.navTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  left: 50%;
  right: 50%;
  position: absolute;
}
.panel-title {
  font-size: 20px;
}
.side-panel {
  width: 15%;
  float: left;
  min-height: 500px;
  margin-right: 1%;
  margin-left: 1%;
}